#ship {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

body {
    background-image : url('Images/Ocean.png')
}

#gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#coin {
    width: 60px;
    height: 60px;
    position: absolute;
}

.health {
    width: 30px;
    height: 30px;
    position: absolute;
}

#health-4,
#health-3,
#health-2,
#health-1 {
    display: none;
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

#scoreboard {
    position: absolute;
    top: 5;
    right: 5;
}


.score {
    margin: auto;
}


#orb {
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
}

#force-field {
    display: none;
    width: 230px;
    height: 150px;
    position: absolute;
}

#gear {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    width: 100px;
    height: 100px;
    position: absolute;
}

#heart-1 {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    width: 30px;
    height: 30px;
}

#heart-2 {
    position: fixed;
    top: 10px;
    left: 60px;
    padding: 10px;
    width: 30px;
    height: 30px;
}

#heart-3 {
    position: fixed;
    top: 10px;
    left: 110px;
    padding: 10px;
    width: 30px;
    height: 30px;
}

#bullet {
    width: 30px;
    height: 30px;
}

#explosion {
    width: 60px;
    height: 60px;
    position: absolute;
    display: none;
}

/* .clouds {
    width: 30px;
    height: 30px;
    position: absolute;
} */

.rocks {
    width: 60px;
    height: 60px;
    position: absolute;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.clouds {
    position: absolute;
    animation: move-clouds 10s linear infinite;
    width: 180px;
    height: 180px;
}

/* .cloud-1 {
    left: 0;
    top: 50px;
}

.cloud-2 {
    left: 200px;
    top: 100px;
}

.cloud-3 {
    left: 400px;
    top: 150px;
} */

@keyframes move-clouds {
    from { left: -200px; }
    to { left: 100%; }
}

