#ship {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

body {
    background-image : url('Images/Background.jpg')
}

#gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#coin {
    width: 30px;
    height: 30px;
    position: absolute;
}

.health {
    width: 30px;
    height: 30px;
    position: absolute;
}

#health-4,
#health-3,
#health-2,
#health-1 {
    display: none;
}

#scoreboard {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
}

#orb {
    width: 30px;
    height: 30px;
    position: absolute;
}

#force-field {
    display: none;
    width: 150px;
    height: 150px;
    position: absolute;
}

#gear {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    width: 100px;
    height: 100px;
    position: absolute;
}

#heart-1 {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    width: 30px;
    height: 30px;
}

#heart-2 {
    position: fixed;
    top: 10px;
    left: 60px;
    padding: 10px;
    width: 30px;
    height: 30px;
}

#heart-3 {
    position: fixed;
    top: 10px;
    left: 110px;
    padding: 10px;
    width: 30px;
    height: 30px;
}

#bullet {
    width: 30px;
    height: 30px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
